
@{
    ViewBag.Title = "Sửa tin tuyển dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var employ = ViewBag.Employer as FindJob.Models.EF.Employer;
    var career = ViewBag.Career as List<FindJob.Models.EF.Career>;
    var post = ViewBag.Post as FindJob.Models.EF.Post;
}

@if (TempData["add_success"] != null)
{
    <section id="AlertBox" style="margin-top: 140px">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12 alert alert-success">
                    <h1>@TempData["add_success"]</h1>
                </div>
            </div>
        </div>
    </section>
}

    <section id="jobs" style="margin-top: 140px">
        <div class="container">
            @using (Html.BeginForm("Edit_Post", "Employer", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmValidate" }))
            {
                <input type="hidden" name="Employer_ID" value="@employ.ID" />
                <input type="hidden" name="ID" value="@post.ID" />
                <div class="row">
                    <h2 class="text-center">Đăng thông tin tuyển dụng</h2>
                    <div class="col-sm-6">
                        <div class="form-group" id="job-email-group">
                            <label for="job-email">Tiêu đề</label>
                            <input type="text" class="form-control" value="@post.Title" name="Title" id="job-email" placeholder="Công ty ABC ... tuyển dụng vị trí...">
                        </div>
                        <div class="form-group" id="job-title-group">
                            <label for="job-title">Địa điểm làm việc</label>
                            <input type="text" class="form-control" value="@post.Location" name="Location" id="job-title" placeholder="Làm việc tại...">
                        </div>
                        <div class="form-group" id="job-location-group">
                            <label for="job-location">Chuyên môn</label>
                            <select class="form-control" id="job-career" name="Career_ID">
                                @foreach (var item in career)
                                {
                                    <option value="@item.ID" @(post.Career_ID==item.ID? "selected" : "")>@item.CareerName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group wysiwyg" id="company-description-group">
                            <label>Mô tả công việc</label>
                            <textarea rows="10" id="Descriptions" name="Descriptions">@post.Descriptions</textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" id="job-region-group">
                            <label for="job-region">Hình thức làm việc</label>
                            <select class="form-control" id="job-experience" name="Form">
                                <option value="Toàn thời gian" @(post.Form=="Toàn thời gian"? "selected" : "")>Toàn thời gian</option>
                                <option value="Bán thời gian" @(post.Form=="Bán thời gian"? "selected" : "")>Bán thời gian</option>
                            </select>
                        </div>
                        <div class="form-group" id="job-email-group">
                            <label for="job-email">Hạn chót nhận hồ sơ</label>
                            <input type="date" class="form-control" name="Dealine" id="Date_Dealine">
                        </div>
                        <div class="form-group" id="job-region-group">
                            <label for="job-region">Kinh nghiệm</label>
                            <select class="form-control" id="job-experience" name="Experience">
                                <option value="1" @(post.Experience=="1"? "selected" : "")>Từ 0 - 1 năm kinh nghiệm</option>
                                <option value="2" @(post.Experience=="2"? "selected" : "")>Từ 1 - 2 năm kinh nghiệm</option>
                                <option value="3" @(post.Experience=="3"? "selected" : "")>Từ 2 - 3 năm kinh nghiệm</option>
                                <option value="4" @(post.Experience=="4"? "selected" : "")>Trên 4 năm kinh nghiệm</option>
                            </select>
                        </div>
                        <div class="form-group" id="job-email-group">
                            <label for="job-email">Mức lương up to</label>
                            <input type="number" min="1000000" value="@post.Salary" class="form-control" name="Salary" id="job-email" placeholder="Up to 10.000.000 vnđ">
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <p>&nbsp;</p>
                    <button type="submit" class="btn btn-primary btn-lg">Sửa thông tin</button>
                </div>
            }

        </div>
    </section>


@section jsSection{

    <script>

        /**/
        document.getElementById("Date_Dealine").value = '@post.Dealine.Value.ToString("yyyy-MM-dd")';
        /**/

        //nếu không có thao tác gì thì ẩn đi
        $('#AlertBox').removeClass('hide');

        //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
        $('#AlertBox').delay(2000).slideUp(500);

        $(document).ready(function () {
            CKEDITOR.replace('Descriptions');

            $(".datepicker").datepicker({
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true
            });

            //Khi bàn phím được nhấn và thả ra thì sẽ chạy phương thức này
            $("#frmValidate").validate({
                rules: {
                    Title: "required",
                    Location: "required",
                    Descriptions: "required",
                    Dealine: "required",
                    Salary: "required"
                },
                messages: {
                    Title: "Vui lòng nhập tiêu đề",
                    Location: "Vui lòng nhập địa điểm làm việc",
                    Descriptions: "Vui lòng nhập mô tả",
                    Dealine: "Vui lòng nhập hạn chót nhận hồ sơ",
                    Salary: "Vui lòng nhập mức lương"
                }
            });
        });

    </script>

}


,mr
