
@{
    Layout = null;
    var candi = ViewBag.Candidate as FindJob.Models.EF.Candidate;
    var Skill = ViewBag.Skill as List<FindJob.Models.EF.Skill>;
    var Education = ViewBag.Education as List<FindJob.Models.EF.Education>;
    var Experience = ViewBag.Experience as List<FindJob.Models.EF.Experience>;
    int dem = 0, dem_1 = 0;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV của bạn | Jobseek</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" />
    </noscript>
    <link href="~/Assets/cv/css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="~/Assets/cv/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    @*<link href="~/Assets/datepicker/datepicker3.css" rel="stylesheet" />*@
    @*<link href="~/Assets/cv/css/aos.css?ver=1.2.0" rel="stylesheet">*@
    <link href="~/Assets/cv/css/main.css?ver=1.2.0" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body id="top">
    <div class="page-content">
        <div class="container">
            <div class="cover shadow-lg bg-white">
                <div class="cover-bg p-3 p-lg-4 text-white">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="~/Assets/images/candidate/@candi.Image" width="200" height="200" /></div>
                        </div>
                        <div class="col-lg-8 col-md-7 text-center text-md-start">
                            <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">@candi.Fullname</h2>
                            <p data-aos="fade-left" data-aos-delay="100">@candi.MainSkill</p>
                            @*<div class="d-print-none" data-aos="fade-left" data-aos-delay="200">
                                    <a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="right-resume.pdf" target="_blank">Download CV</a>
                                    <a class="btn btn-success shadow-sm mt-1" href="#contact">Hire Me</a>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="about-section pt-4 px-3 px-lg-4 mt-1">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="h3 mb-3">Giới thiệu</h2>
                            @Html.Raw(candi.Introduce)
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <div class="row mt-2">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Ngày sinh</td>
                                            <td>@candi.Birthday.Value.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>@candi.Email</td>
                                        </tr>
                                        <tr>
                                            <td>Điện thoại</td>
                                            <td>@candi.Phone</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ</td>
                                            <td>@candi.Address</td>
                                        </tr>
                                    </tbody>
                                </table>
                                @*<div style="width: 40%">
                                    <div class="pb-1">Ngày sinh</div>
                                </div>
                                <div style="width: 60%">
                                    <div class="pb-1 text-secondary">@candi.Birthday.Value.ToString("dd/MM/yyyy")</div>
                                </div>
                                <div style="width: 40%">
                                    <div class="pb-1">Email</div>
                                </div>
                                <div style="width: 60%">
                                    <div class="pb-1 text-secondary">@candi.Email</div>
                                </div>
                                <div style="width: 40%">
                                    <div class="pb-1">Điện thoại</div>
                                </div>
                                <div style="width: 60%">
                                    <div class="pb-1 text-secondary">@candi.Phone</div>
                                </div>
                                <div style="width: 40%">
                                    <div class="pb-1">Địa chỉ</div>
                                </div>
                                <div style="width: 60%">
                                    <div class="pb-1 text-secondary">@candi.Address</div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="d-print-none" />
                <div class="skills-section px-3 px-lg-4">
                    <h2 class="h3 mb-3">Kỹ năng nổi bật</h2>
                    <div class="row">
                        <div class="col-md-6">
                            @foreach (var item in Skill)
                            {
                                dem++;
                                if (dem <= 3)
                                {
                                    <div class="mb-2">
                                        <span>@item.MainSkill</span>
                                        <div class="progress my-1" style="width: @item.Level%; background-color: #4a89dc!important;">
                                            <div class="progress-bar bg-success" role="progressbar"   style="width: @item.Level%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-6">
                            @foreach (var item in Skill)
                            {
                                dem_1++;
                                if (Skill.Count > 3 && dem_1 > 3)
                                {
                                    <div class="mb-2">
                                        <span>@item.MainSkill</span>
                                        <div class="progress my-1" style="width: @item.Level%; background-color: #37bc9b!important;">
                                            <div class="progress-bar bg-success" role="progressbar"  style="width: @item.Level%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <hr class="d-print-none" />
                <div class="work-experience-section px-3 px-lg-4">
                    <h2 class="h3 mb-4">Kinh nghiệm làm việc</h2>
                    <div class="timeline">
                        @foreach (var item in Experience)
                        {
                            <div class="timeline-card timeline-card-primary card shadow-sm">
                                <div class="card-body">
                                    <div class="h5 mb-1">@item.Position <span class="text-muted h6">tại @item.Place</span></div>
                                    <div class="text-muted text-small mb-2">@item.FromDate.Value.ToString("MM/yyyy") - @(item.ToDate.Value.ToString("MM/yyyy") == DateTime.Now.ToString("MM/yyyy") ? "Nay" : item.ToDate.Value.ToString("MM/yyyy"))</div>
                                    <div>
                                        @item.Descriptions
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <hr class="d-print-none" />
                <div class="page-break"></div>
                <div class="education-section px-3 px-lg-4 pb-4">
                    <h2 class="h3 mb-4">Học vấn</h2>
                    <div class="timeline">
                        @foreach (var item in Education)
                        {
                            <div class="timeline-card timeline-card-success card shadow-sm">
                                <div class="card-body">
                                    <div class="h5 mb-1">@item.Education1 <span class="text-muted h6">tại @item.School</span></div>
                                    <div class="text-muted text-small mb-2">@item.FromDate.Value.ToString("yyyy") - @(item.ToDate.Value.ToString("yyyy") == DateTime.Now.ToString("yyyy") ? "Nay" : item.ToDate.Value.ToString("yyyy"))</div>
                                    <div>
                                        @item.Descriptions
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/Assets/cv/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    @*<script src="~/Assets/datepicker/bootstrap-datepicker.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @*<script src="~/Assets/cv/scripts/aos.js?ver=1.2.0"></script>*@
    <script src="~/Assets/cv/scripts/main.js?ver=1.2.0"></script>


    </body>
</html>